* {
  padding: 0;
  margin: 0;
}

ul,
ol,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  background-color: #eff3f7;
}

:root {
  font-size: 18px;
  /* color */
  --background-color: #4d5061;
  --bg_white: #ffffff;
  --bg_fifth: #01f0f415;

  --shadow: rgba(136, 144, 167, 0.25);

  --text_dark: #000;
  --text-dark-secondary: #212121;
  --text_white: #ffffff;
  --text_white-secondary: #dddddd63;
}

/* nav section start */
.nav {
  width: 100%;
}

.home {
  width: 100%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
  background-position: center top;
  background-size: cover;
}

.header {
  z-index: 9999;
}

.nav {
  /* padding-top: 20px;
  padding-bottom: 20px; */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.affix {
  padding: 0;
  background-color: #fff;
  box-shadow: 1px 11px 48px -21px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 1px 11px 48px -21px rgba(0, 0, 0, 1);
  -moz-box-shadow: 1px 11px 48px -21px rgba(0, 0, 0, 1);
}

.navbar-toggler {
  z-index: 9999;
  padding: 0.25rem 0.25rem;
 border: 1px solid #7c75f4;
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none
}
.affix .navbar-light .navbar-nav .nav-link {
  color: #000;
}

.affix .navbar-light .navbar-brand {
  color: #000;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #7c75f4;
  font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link:focus {
  background-color: #7c75f4;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s linear;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #7c75f4;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s linear;
}

/* nav section end */

/* hero section start */
.home-hero {
  /* background-color: #eff3f7; */
  background-color: rgba(239, 243, 247, 1);
  background-image: url(./assets/images/u-bg-1.jpg);
  /* url(./assets/images/bg-image-2.svg), url(./assets/images/bg-image.svg); */
  background-position: 80% 100%, 60px 0, 0 0;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  overflow: hidden;

  /* background-color: rgba(43, 37, 5, 0.8); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  /* background: url("/assets/images/butex-nitice-bg-img.png") rgba(43, 37, 5, 0.8); */
  background-size: cover;
  background-blend-mode: multiply;
}

.home-hero .hero-100vh {
  height: 93vh;
}

.home-hero .hero-slogan {
  border: 1px solid #76a9f8;
  border-radius: 20px;
  padding: 5px 20px;
  max-width: fit-content;
}

.home-hero .title {
  letter-spacing: -0.32px;
  -webkit-text-stroke-color: #141414;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Bricolagegrotesque, sans-serif;
  font-size: 72px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-family: "Lato";
}

.home-hero .desc {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Bricolagegrotesque, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  font-family: "Lato";
}

.social-icons {
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
  box-shadow: inset 0 0 0 0 var(--text_white), inset 0 0 0 0 var(--shadow),
    -4px -4px 10px 0 var(--text_white), 4px 4px 10px 0 var(--shadow);
  color: #76a9f8;
}

.social-icons:hover {
  box-shadow: inset -4px -4px 10px 0 var(--text_white),
    inset 4px 4px 10px 0 var(--shadow), 0 0 0 0 var(--text_white),
    0 0 0 0 var(--shadow);
}

/* hero section end */
/* features start */
.features {
  padding: 120px 0px;
}
.features .card-text {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* features end */
/* projects start */
.projects p {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
}

.projects .window {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: -5px -5px 10px 0 #fff, 5px 5px 10px 0 var(--shadow);
  background-color: #eff3f7;
  cursor: pointer;
}

.projects .window img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 30rem;
  padding: 5px;
  transition: 8s all ease;
  border-radius: 26px 26px 0px 0px;
}

.projects .window img:hover {
  object-position: bottom;
}

.projects .button-bg-color {
  background-color: #eff3f7;
  border-radius: 0px 0px 10px 10px;
}

/* projects end */

/* contact us start */
.map_sec {
  padding: 40px 0 120px 0;
}

.map_sec .map_inner h4,
.map_sec .map_inner p {
  color: #000;
  text-align: center;
}

.map_sec .map_inner p {
  font-size: 13px;
}

.map_sec .map_bind {
  margin-top: 50px;
  border-radius: 30px;
  overflow: hidden;
}

/* contact us end */

/* about-section start */
.about-developer {
  background-color: rgba(239, 243, 247, 1);
  background-image: url(./assets/images/u-bg-2.jpg);
  justify-content: center;
  overflow: hidden !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.about-section table ul li {
  font-size: 14px;
  list-style-type: square;
  margin-left: 30px;
  font-family: "Lato";
}

.about-section .skills .lang-mark {
  color: #7c75f4;
}

.developer-image img {
  background-color: #eff3f7;
  box-shadow: 0 0 50px rgba(226, 222, 232, 0.75);
  border: 10px solid #ced7e0;
  max-height: 550px !important;
  max-width: 550px !important;
}

/* about-section end */
/* logos slider start */
.client-logos {
  padding: 120px 0px;
}
.logos-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  -webkit-mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0,
    #000 15%,
    #000 85%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0,
    #000 15%,
    #000 85%,
    rgba(0, 0, 0, 0) 100%
  );
}

.logos-slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  animation: slide 30s linear infinite;
}

.logos-slider-container img {
  max-width: 90px;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

/* logos slider end */
/* testimonial start */

.testimonial .card {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(226, 222, 232, 0.75);
}

.testimonial .double-quote {
  color: #76a9f8;
  font-size: 4rem;
}

.testimonial .card .card-body .image img {
  height: 90px;
  width: 90px;
  border: 7px solid #ddd;
  border-radius: 50%;
}

.testimonial .description {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #4f5863;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.testimonial .blob {
  display: block;
  width: 288px;
  height: 267px;
  background-color: #76a9f8;
  border-radius: 54% 77% 75% 50% / 79% 74% 58% 51%;
}

.testimonial .blob img {
  width: 282px;
  height: 267px;
  border-radius: 54% 77% 75% 50% / 79% 74% 58% 51%;
  margin-left: 3px;
}

.testimonial .card .card-body .name {
  position: relative;
  display: block;
  font-size: 21px;
  line-height: 1.2em;
  color: #382c4d;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Niramit", sans-serif;
}

.testimonial .card .card-body .card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.testimonial .card .card-body .title {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #8053f7;
  font-weight: 400;
  font-family: "Muli", sans-serif;
}

.testimonial-section {
  position: relative;
  padding-bottom: 210px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.testimonial-section:before {
  position: absolute;
  left: -200px;
  top: 16%;
  background-image: url(http://t.commonsupport.com/adro/images/icons/ring-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 701px;
  height: 756px;
  content: "";
  -webkit-animation: fa-spin 25s infinite alternate;
  -moz-animation: fa-spin 25s infinite alternate;
  -ms-animation: fa-spin 25s infinite alternate;
  -o-animation: fa-spin 25s infinite alternate;
  animation: fa-spin 25s infinite alternate;
}

.large-container {
  position: static;
  width: 100%;
  margin: 0 auto;
}

.testimonial-section .sec-title {
  position: relative;
  margin-bottom: 115px;
  font-family: "Lato";
}

.testimonial-section .sec-title .title {
  margin-bottom: 20px;
  font-family: "Lato";
}

.testimonial-section .thumb-layer {
  position: absolute;
  right: 30px;
  top: 120px;
}

.testimonial-section .thumb-layer .image {
  position: relative;
  margin-right: 0;
}

.testimonial-section .thumb-layer .image img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/* testimonial end */

/* news letter start */
.news-letter-section {
  padding-bottom: 100px;
}
.news-letter-section .sun-light-sticker {
  width: 80px;
  height: 80px;
}

.news-letter-section .h-search-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.news-letter-section .h-search-form input {
  width: calc(100% - 80px);
  border-radius: 50px;
  border: 1px solid #7c75f4;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--text-dark-secondary);
  height: 55px;
  padding-left: 20px;
}

.news-letter-section .h-search-form .subscribe_btn {
  height: 55px;
  color: var(--text_white);
  padding: 0px 20px;
  background: #7c75f4;
  border-radius: 0px 50px 50px 0px;
  border: none;
  position: absolute;
  width: 130px;
  right: 0;
}

.news-letter-section .h-search-form .subscribe_btn:hover {
  background: #8053f7;
  color: #fff;
}

.news-letter-section img {
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.5s;
}

.news-letter-section img:hover {
  transform: scale(1.1);
}

/* news latter end */
/* clients logos start */

/* word-experience start */
.word-experience .timeline-body ul li {
  color: #000 !important;
}

/* word-experience end */
/* call-to-action-card start */
.common-card {
  padding: 1rem 0rem;
}
.common-card-comp {
  padding: 120px 0;
}

.common-card .card-shadow {
  box-shadow: -5px -5px 10px 0 #fff, 5px 5px 10px 0 var(--shadow);
  border-radius: 1.5rem;
  padding: 2rem;
  background-color: #eff3f7;
}

.common-card .asterisk {
  display: inline-block;
}

.common-card .asterisk-icon {
  font-size: 4rem;
  color: #7c75f4;
}

h1 {
  background-image: linear-gradient(45deg, #7c75f4, #76a9f8);
  font-family: "Bricolage Grotesque, sans-serif";
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.1;
  font-weight: 600;
  font-size: 4.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

h2 {
  background-image: linear-gradient(45deg, #7c75f4, #76a9f8);
  font-family: "Bricolage Grotesque, sans-serif";
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.1;
  font-weight: 600;
  font-size: 3.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

h3 {
  background-image: linear-gradient(45deg, #7c75f4, #76a9f8);
  font-family: "Bricolage Grotesque, sans-serif";
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.1;
  font-weight: 600;
  font-size: 3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

h4 {
  background-image: linear-gradient(45deg, #7c75f4, #76a9f8);
  font-family: "Bricolage Grotesque, sans-serif";
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.1;
  font-weight: 600;
  font-size: 2.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

h5 {
  background-image: linear-gradient(45deg, #7c75f4, #76a9f8);
  font-family: "Bricolage Grotesque, sans-serif";
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.1;
  font-weight: 600;
  font-size: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

h6 {
  background-image: linear-gradient(45deg, #7c75f4, #76a9f8);
  font-family: "Bricolage Grotesque, sans-serif";
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.1;
  font-weight: 600;
  font-size: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.main-logo {
  background-image: linear-gradient(45deg, #7c75f4, #76a9f8);
  font-family: "Bricolage Grotesque, sans-serif";
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 1.1;
  font-weight: 600;
  font-size: 3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.cta-btn {
  display: inline-block;
}

.cta-btn .btn {
  order: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 0 0 var(--text_white), inset 0 0 0 0 var(--shadow),
    -5px -5px 10px 0 var(--text_white), 5px 5px 10px 0 var(--shadow);
  color: #828aa0;
  border-radius: 14px;
  padding: 12px 28px;
  font-size: 1rem;
  line-height: 1;
  transition: box-shadow 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cta-btn .btn:hover {
  box-shadow: inset -4px -4px 10px 0 var(--text_white),
    inset 4px 4px 10px 0 var(--shadow), 0 0 0 0 var(--text_white),
    0 0 0 0 var(--shadow);
}

/* call-to-action-card end */
/* chat bot start */
.glfuN {
  background-color: #eff3f7 !important;
  fill: #000 !important;
}
.rsc-header-title {
  color: #fff !important;
}
.godhbL {
  background-color: #7c75f4 !important;
}

/* footer start */
footer .footer-top {
  background: var(--bg_fifth);
  padding: 120px 0 50px;
}

footer .footer-top h4 {
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

footer .footer-top p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

footer .footer-bottom {
  background: #01f0f415;
  /* padding: 10px 0px; */
}

footer .footer-bottom ul li {
  display: inline;
  margin-right: 20px;
  font-size: 18px;
}

footer .footer-bottom ul li:last-child {
  margin-right: 0;
}

footer .copyright {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}

/* footer end */

/* media query start */
@media screen and (min-width: 1200px) and (max-width: 1920px) {
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  .main-logo {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .main-logo {
    font-size: 2rem;
  }
  /* news letter start */
  .news-letter-section {
    padding-bottom: 60px;
  }
  .news-letter-section .h-search-form input {
    padding-left: 0px;
    width: calc(100% - 10px);
  }

  .home-hero .hero-100vh {
    height: auto;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
  .common-card-comp {
    padding: 80px 0;
  }
  /* features start */
  .features {
    padding: 80px 0px;
  }
  /* logos slider start */
  .client-logos {
    padding: 80px 0px;
  }
  .map_sec {
    padding: 40px 0 80px 0;
  }

  /* footer start */
  footer .footer-top {
    padding: 80px 0 20px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .main-logo {
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.3rem;
  }
  .home-hero .hero-100vh {
    height: auto;
  }
  /* features start */
  .features {
    padding: 60px 0px;
  }

  /* logos slider start */
  .client-logos {
    padding: 60px 0px;
  }
  .common-card .asterisk-icon {
    font-size: 3rem;
  }
  .common-card-comp {
    padding: 60px 0;
  }
  /* news letter start */
  .news-letter-section {
    padding-bottom: 40px;
  }
  .news-letter-section .h-search-form input {
    padding-left: 0px;
    width: calc(100% - 10px);
  }
  .map_sec {
    padding: 40px 0 60px 0;
  }

  /* footer start */
  footer .footer-top {
    padding: 60px 0 0px;
  }
}

@media screen and (min-width: 376px) and (max-width: 575.98px) {
  .main-logo {
    font-size: 2rem;
  }
  .home-hero .hero-100vh {
    height: auto;
  }
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  .home-hero .hero-100vh {
    height: auto;
  }
  .common-card-comp {
    padding: 60px 0;
  }
  /* features start */
  .features {
    padding: 60px 0px;
  }

  /* logos slider start */
  .client-logos {
    padding: 60px 0px;
  }
  .developer-image img {
    max-height: 450px !important;
    max-width: 450px !important;
  }

  .common-card .asterisk-icon {
    font-size: 2.2rem;
  }

  /* testimonial section  */
  .testimonial-section {
    padding-bottom: 10px;
  }

  .news-letter-section .h-search-form input {
    padding-left: 0px;
    width: calc(100% - 10px);
  }
  /* news letter start */
  .news-letter-section {
    padding-bottom: 40px;
  }
  .map_sec {
    padding: 40px 0 60px 0;
  }

  /* footer start */
  footer .footer-top {
    padding: 60px 0 0px;
  }
}

@media screen and (min-width: 100px) and (max-width: 375.98px) {
  .main-logo {
    font-size: 2rem;
  }
  .home-hero .hero-100vh {
    height: auto;
  }
  .common-card-comp {
    padding: 60px 0;
  }
  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  .common-card-comp {
    padding: 60px 0;
  }
  /* features start */
  .features {
    padding: 60px 0px;
  }
  /* logos slider start */
  .client-logos {
    padding: 60px 0px;
  }

  .developer-image img {
    max-height: 320px !important;
    max-width: 320px !important;
  }

  .common-card .asterisk-icon {
    font-size: 2rem;
  }

  /* testimonial section  */
  .testimonial-section {
    padding-bottom: 10px;
  }

  .news-letter-section .h-search-form {
    padding: 0px;
  }

  .news-letter-section .h-search-form input {
    padding-left: 0px;
    width: calc(100% - 5px);
  }

  .news-letter-section .h-search-form .subscribe_btn {
    height: 55px;
    padding: 0px 10px;
    border-radius: 0px 50px 50px 0px;
    border: none;
    position: absolute;
    right: 0;
  }
  /* news letter start */
  .news-letter-section {
    padding-bottom: 40px;
  }
  .map_sec {
    padding: 40px 0 60px 0;
  }

  /* footer start */
  footer .footer-top {
    padding: 40px 0px;
  }
}

/* media query end */
